html {
  position:relative;
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
  margin-bottom: 60px;
}

/* https://stackoverflow.com/a/22196760 */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vote-vertical-upper-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body > div:nth-last-of-type(1) {
  padding-bottom: 70px;
}

footer {
  position:absolute;
  bottom:0;
  left:auto;
  width:100%;
  min-height:37px;
  background-color:#f5f5f5;
}

footer>.container.border-top {
  padding-top: 0.5rem;
}

#cryptoPOC > .row > .col, canvas {
  align-items: center;
  text-align: center;
}

.p0 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

nav {
  /*border-radius: 0.75rem;*/
  border-radius: 0.5rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}